
    <form action="{{#if editMode}}/admin/edit{{else}}/admin/addMovie{{/if}}" method="post">
        <label for="title">title: 
            <input type="text" name="title" id="title" placeholder="Title" value="{{#if editMode}}{{movies.title}}{{/if}} ">
        </label>
        <label for="genre">Genre:
            <input type="text" name="genre" id="genre" placeholder="genre" value="{{#if editMode}}{{movies.genre}}{{/if}}">
        </label>
        <label for="urlImag">URL:
            <input type="text" name="urlImage" id="urlImag" placeholder="url of your img" value="{{#if editMode}}{{movies.urlImage}}{{/if}}">
        </label>
        <label for="description">Description:
            <input type="text" name="description" id="description" placeholder="Synopsis" value="{{#if editMode}}{{movies.description}}{{/if}}">
        </label>

        {{#if editMode}}
            <input type="text" name="id" value="{{id}}">
        {{/if}}
    
        <input type="submit" value="{{#if editMode}} edit {{else}} add {{/if}}">
    </form>