<div class="container text-center">
  <h1>{{message}}</h1>
</div>

{{#each movieDataContainer as |i key|}}
  <div class="col-12 col-md-6 col-lg-4">

    <div class="card box bg-white text-dark border-dark shadow ">
      <img src="{{i.urlImage}}" class="card-img-top" alt="{{i.description}}" />
      <div class="card-img-overlay img-fluid">
        <h5 class="card-title">{{i.title}}</h5>
        {{#if check}}
          <div class="bg-success">
            <p class="text-white text-center">Active</p>
          </div>
        {{/if}}
        <a href="/admin/{{i.id}}" class="btn btn-danger">Delete</a>
        <a href="/admin/edit/:{{i.id}}/:true" class="btn btn-warning">edit</a>
      </div>
    </div>

  </div>
{{/each}}