
<div class="container text-center">
    <h1>{{message}}</h1>
</div>

<div class="card bg-dark text-dark">
    <img src="{{urlImg}}" class="card-img" alt="{{description}}">
    <div class="card-img-overlay">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
    </div>
</div>
