
<div class="container text-center">
    <h1>{{message}}</h1>
</div>

<div class="row ">
    {{#each movies as |i key|}} 
        <div class="card bg-dark text-white">
            <img src="{{i.urlImage}}" class="card-img" alt="{{i.description}}">
            <div class="card-img-overlay">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.description}}</p>
            </div>
        </div>
    {{/each}}
</div>

